<% provide(:title, 'Results')%>
<%= form_tag "/results" do %>
<div class="container-fluid">	

	<div class="row-fluid" >
    	<div class="span6" style="background-color: #aca" >
      	<!--Sidebar content-->
      	<%= render 'shared/display_summary' %>
    	</div>  
    </div>
</div>   
<% end %>
